## Data Science Bootcamp
### Week 1: basic Python

- Questions 1 - 7: Based on the email with title "Data Science Bootcamp Week 1 Follow Up" (receive on Feb 28, 2025, 4:59 PM)
- Additional Challenge: based on the gitHub ppt https://github.com/rohnnie/NYU-Data-Science-Bootcamp-Spring-2025/blob/main/Week-1/DataScienceBootcamp_Week1.ipynb

## Question 1. Display Fibonacci Series up to 10 terms

Brainstorming

In [ ]:
# Question 1. Display Fibonacci Series up to 10 terms

In [5]:
# initialize the Fibonacci sequence
fibonacci_sequence_array = [1,1]
n = 10

In [32]:
# calculate the nth term for (n-2) number
for _ in range(n-2):
    append_number = fibonacci_sequence_array[-2] + fibonacci_sequence_array[-1]
    fibonacci_sequence_array.append(append_number)

In [8]:
# Display Fibonacci Series up to 10 terms
print(fibonacci_sequence_array)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [9]:
# Check the number of terms in the Fibonacci Series array
print(len(fibonacci_sequence_array))

10

### Implementation of answer 1: function

In [57]:
# make it as  function
def fibonacci_sequence_display(n):
    # initialize the first two terms
    fibonacci_sequence_array = [1,1]

    # calculate the nth term for (n-2) number
    for _ in range(n-2):
        append_number = fibonacci_sequence_array[-2] + fibonacci_sequence_array[-1]
        fibonacci_sequence_array.append(append_number)

    return (f"{n} number of terms in the fibonacci sequence is: {fibonacci_sequence_array}")

### Answer 1: Display Fibonacci Sequence up to 10 terms

In [58]:
print(fibonacci_sequence_display(10))

10 number of terms in the fibonacci sequence is: [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

## Question 2. Display numbers at the odd indices of a list.

Brainstorming

In [10]:
# Question 2. Display numbers at the odd indices of a list

In [59]:
a_list = [4, 3, -5, 7, 9, -12, 6]
odd_index_length = len(a_list) // 2
print(odd_index_length)

3

In [60]:
for index in range(odd_index_length):
    print(f"Index: {index*2 + 1}, Value: {a_list[index*2 +1]}")

Index: 1, Value: 3
Index: 3, Value: 7
Index: 5, Value: -12

## Implementation of answer 2: a function

In [75]:
def displayNumbersOddIndices(a_list):
    odd_index_length = len(a_list) // 2
    for index in range(odd_index_length):
        print(f"Index: {index * 2 +1}, Value: {a_list[index * 2 + 1]}")

## Answer 2: display numbers at the odd indices of a list

In [77]:
a_list = [4, 3, -5, 7, 9, -12, 6]
displayNumbersOddIndices(a_list)

Index: 1, Value: 3
Index: 3, Value: 7
Index: 5, Value: -12

## Question 3: count the number of different words in a given text

Brainstorming

In [68]:
example_string = """I have provided this text to provide tips on creating interesting paragraphs.

First, start with a clear topic sentence that introduces the main idea.

Then, support the topic sentence with specific details, examples, and evidence.

Vary the sentence length and structure to keep the reader engaged.

Finally, end with a strong concluding sentence that summarizes the main points.

Remember, practice makes perfect!"""

In [69]:
example_string.split()

['I',
 'have',
 'provided',
 'this',
 'text',
 'to',
 'provide',
 'tips',
 'on',
 'creating',
 'interesting',
 'paragraphs.',
 'First,',
 'start',
 'with',
 'a',
 'clear',
 'topic',
 'sentence',
 'that',
 'introduces',
 'the',
 'main',
 'idea.',
 'Then,',
 'support',
 'the',
 'topic',
 'sentence',
 'with',
 'specific',
 'details,',
 'examples,',
 'and',
 'evidence.',
 'Vary',
 'the',
 'sentence',
 'length',
 'and',
 'structure',
 'to',
 'keep',
 'the',
 'reader',
 'engaged.',
 'Finally,',
 'end',
 'with',
 'a',
 'strong',
 'concluding',
 'sentence',
 'that',
 'summarizes',
 'the',
 'main',
 'points.',
 'Remember,',
 'practice',
 'makes',
 'perfect!']

In [70]:
print(len(example_string.split()))

62

## Implementation of answer 3: function

In [79]:
def countNumDiffWords(a_string):
    split_string = a_string.split()
    count_diff_words = len(split_string)

    return count_diff_words

## Answer 3: count the number of different words in a given text

In [80]:
# test
print(countNumDiffWords(example_string))

62

## Question 4: return the number of vowels in the word

In [81]:
# 4.⁠ ⁠Write a function count_vowels(word) that takes a word as an argument and returns the number of vowels in the word
# brainstroming

In [2]:
list_vowels = ['a', 'e', 'i', 'o', 'u']
word = "HewLett"
vowel_count = 0

for character in word:
    if character in list_vowels or character.lower() in list_vowels:
        vowel_count += 1

print(vowel_count)

2

## Implementation of answer 4: function

In [3]:
def countNumVowels(word):
    list_vowels = ['a', 'e', 'i', 'o', 'u']
    vowel_count = 0

    for character in word:
        if character in list_vowels or character.lower() in list_vowels:
            vowel_count += 1

    return vowel_count

## Answer 4: count the number of vowels in a given word

In [5]:
word = "WoOdMerE"
print(countNumVowels(word))

4

## Question 5.⁠ ⁠Iterate through the following list of animals and print each one in all caps.

In [6]:
animals=['tiger', 'elephant', 'monkey', 'zebra', 'panther']

## Answer 5: iterate a list and print each one in all capital letters

In [7]:
def animalDisplay(list_animals):
    for animal in list_animals:
        print(animal.upper())

In [8]:
animalDisplay(animals)

TIGER
ELEPHANT
MONKEY
ZEBRA
PANTHER

## Question 6.⁠ ⁠Write a program that iterates from 1 to 20, printing each number and whether it's odd or even.

## Answer 6

In [34]:
def oddOrEven(start_number, end_number):
    for number in range(start_number, end_number + 1):
        if number % 2 == 0:
            print(f"number {number} is even")
        elif number % 2 == 1:
            print(f"number {number} is odd")

In [37]:
# testing
oddOrEven(1, 20)

number 1 is odd
number 2 is even
number 3 is odd
number 4 is even
number 5 is odd
number 6 is even
number 7 is odd
number 8 is even
number 9 is odd
number 10 is even
number 11 is odd
number 12 is even
number 13 is odd
number 14 is even
number 15 is odd
number 16 is even
number 17 is odd
number 18 is even
number 19 is odd
number 20 is even

## Question 7.⁠ ⁠Write a function sum_of_integers(a, b) that takes two integers as input from the user and returns their sum.

In [36]:
# brainstorming
user_input_a = input()

 3

## Answer 7

In [3]:
def sum_of_integers():
    user_input_a = input("Input first integer: ")  # Await input for Pyodide
    user_input_b = input("Input second integer: ")

    integer_a = int(user_input_a)  # Convert to integer
    integer_b = int(user_input_b)

    return integer_a + integer_b  # Return sum

In [5]:
# testing
print(f"The sum of two integers as inputs from the user: {sum_of_integers()}")

Input first integer: 3
Input second integer: 4
The sum of two integers as inputs from the user: 7

## Additional Challenge - Books data challenge

In [25]:
books = [
    {
        "title": "The Great Gatsby",
        "author": "F. Scott Fitzgerald",
        "genre": "Fiction",
        "rating": 4.2
    },
    {
        "title": "To Kill a Mockingbird",
        "author": "Harper Lee",
        "genre": "Classic",
        "rating": 4.5
    },
    {
        "title": "1984",
        "author": "George Orwell",
        "genre": "Dystopian",
        "rating": 4.8
    },
    {
        "title": "Pride and Prejudice",
        "author": "Jane Austen",
        "genre": "Romance",
        "rating": 4.7
    },
    {
        "title": "Harry Potter and the Sorcerer's Stone",
        "author": "J.K. Rowling",
        "genre": "Fantasy",
        "rating": 4.9
    },
    {
        "title": "The Catcher in the Rye",
        "author": "J.D. Salinger",
        "genre": "Coming-of-age",
        "rating": 4.1
    }
]

**1. Checking Book Ratings**

Write a function check_rating(book) that takes a book dictionary and returns True if the rating is greater than 4.5, and False otherwise. Additionally, modify the function to return 'low' if the rating is less than or equal to 4.0, 'medium' if it's greater than 4.0 but less than or equal to 4.5, and 'high' if it's greater than 4.5.

**2. Average Rating by Genre**

Write a function average_rating_by_genre(books, genre) that accepts the list of books and a genre, and returns the average rating for that genre. If the genre does not exist in the list, return an appropriate message.

**3. Books by Author**

Write a function books_by_author(books, author) that accepts the book list and an author's name, and returns a list of all the books written by that author. If the author does not exist, raise a custom error.

Implement by one one.

**1. Checking Book Ratings**

Write a function check_rating(book) that takes a book dictionary and returns True if the rating is greater than 4.5, and False otherwise. Additionally, modify the function to return 'low' if the rating is less than or equal to 4.0, 'medium' if it's greater than 4.0 but less than or equal to 4.5, and 'high' if it's greater than 4.5.

In [14]:
example_book = {
        "title": "The Great Gatsby",
        "author": "F. Scott Fitzgerald",
        "genre": "Fiction",
        "rating": 4.2
}

In [15]:
# returns true if the rating > 4.5, false otherwise
def check_rating(book):
    if book["rating"] > 4.5:
        return True
    else:
        return False

In [16]:
print(check_rating(example_book))

False

In [17]:
def check_rating(book):
    if book["rating"] > 4.5:
        return 'high'
    elif 4 < book["rating"] <= 4.5:
        return 'medium'
    else:
        return 'low'

In [18]:
print(check_rating(example_book))

medium

**2. Average Rating by Genre**

Write a function average_rating_by_genre(books, genre) that accepts the list of books and a genre, and returns the average rating for that genre. If the genre does not exist in the list, return an appropriate message.

In [26]:
def average_rating_by_genre(books, genre):
    rating_accumulation = 0
    genre_count = 0
    
    for book in books:
        if book["genre"] == genre:
            rating_accumulation += book["rating"]
            genre_count += 1
    
    if genre_count == 0:
        return "There is no such genre in these books"
    else:
        return rating_accumulation / genre_count

In [27]:
print(average_rating_by_genre(books, "Classic"))

4.5

In [37]:
# testing
new_books = [
    {
        "title": "The Great Gatsby",
        "author": "F. Scott Fitzgerald",
        "genre": "Fiction",
        "rating": 4.2
    },
    {
        "title": "To Kill a Mockingbird",
        "author": "Harper Lee",
        "genre": "Classic",
        "rating": 4.3
    },
    {
        "title": "To Raise a Mockingbird",
        "author": "Harper Lee",
        "genre": "Classic",
        "rating": 4.5
    },
    {
        "title": "To Save a Mockingbird",
        "author": "Harper Lee",
        "genre": "Classic",
        "rating": 5.2
    },
    {
        "title": "1984",
        "author": "George Orwell",
        "genre": "Dystopian",
        "rating": 4.8
    },
    {
        "title": "Pride and Prejudice",
        "author": "Jane Austen",
        "genre": "Romance",
        "rating": 4.7
    },
    {
        "title": "Harry Potter and the Sorcerer's Stone",
        "author": "J.K. Rowling",
        "genre": "Fantasy",
        "rating": 4.9
    },
    {
        "title": "The Catcher in the Rye",
        "author": "J.D. Salinger",
        "genre": "Coming-of-age",
        "rating": 4.1
    }
]

In [30]:
print(average_rating_by_genre(new_books, "Classic"))

4.666666666666667

In [31]:
print(average_rating_by_genre(new_books, "Religion"))

There is no such genre in these books

**3. Books by Author**

Write a function books_by_author(books, author) that accepts the book list and an author's name, and returns a list of all the books written by that author. If the author does not exist, raise a custom error.

In [51]:
def books_by_author(books, author):
    book_list = []
    
    for book in books:
        if book["author"] == author:
            book_list.append(book["title"])
    
    if book_list == []:
        raise ValueError(f"There is no book written by this {author}")
    else:
        return book_list

In [52]:
# testing
print(books_by_author(new_books, "Harper Lee"))

['To Kill a Mockingbird', 'To Raise a Mockingbird', 'To Save a Mockingbird']

In [53]:
# testing
print(books_by_author(new_books, "Han Gang"))

ValueError: There is no book written by this Han Gang